In [1]:
import pandas as pd
import numpy as np

In [68]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Column1','Column2','Column3','Column4'])

In [69]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [70]:
df['Column3']

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: Column3, dtype: int32

In [71]:
df['Column3','Column4']

KeyError: ('Column3', 'Column4')

In [72]:
df[['Column3','Column4']]

      Column3  Column4
Row1        2        3
Row2        6        7
Row3       10       11
Row4       14       15
Row5       18       19

In [9]:
df.shape

(5, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  5 non-null      int32
 1   Column2  5 non-null      int32
 2   Column3  5 non-null      int32
 3   Column4  5 non-null      int32
dtypes: int32(4)
memory usage: 120.0+ bytes

In [11]:
df.describe()

         Column1    Column2    Column3    Column4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [12]:
df.to_csv('Test1.csv')

In [19]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [22]:
type(df.loc['Row1'])

pandas.core.series.Series

In [23]:
type(df)

pandas.core.frame.DataFrame

In [30]:
df.loc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [31]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [35]:
print(df.iloc[0:3,0:2])
type(df.iloc[0:3,0:2])

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

pandas.core.frame.DataFrame

In [38]:
print(df.iloc[0:2,0:1])
type(df.iloc[0:2,0:1])

      Column1
Row1        0
Row2        4

pandas.core.frame.DataFrame

In [47]:
df.iloc[0:2,0:1]

      Column1
Row1        0
Row2        4

In [46]:
df.iloc[0:2,0]

Row1    0
Row2    4
Name: Column1, dtype: int32

In [48]:
df.iloc[:,1:]

      Column2  Column3  Column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [49]:
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [57]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [58]:
df.value_counts()

Column1  Column2  Column3  Column4
0        1        2        3          1
4        5        6        7          1
8        9        10       11         1
12       13       14       15         1
16       17       18       19         1
dtype: int64

In [64]:
df['Column1'].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: Column1, dtype: int64

In [65]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [67]:
df['column1']

KeyError: 'column1'